/*HEADER & FOOTER STYLES*/
/*===============================*/

/*.page-wrap {      
	margin: auto;
	width: 90%;
}
*/
header {
	/*background-color: #ddd;*/
	display: table;
	width: 100%;
	min-height: 125px;

	.top-logo, nav, nav li {
		display: inline-block;
		border-radius: 5px;
	}

	.top-logo img{
		margin-right: 30px;
		width: 400px;
		margin-top: 0px;
		margin-bottom: 0px;
		border-radius: 5px;
	}

	nav li {
		margin-right: 10px;
		
		white-space: no-wrap;
	}

	.top-logo a, nav a {
		padding: 10px 20px;
		text-align: center;
		display: block;

	}

	.top-logo, nav {
		display: table-cell;
		vertical-align: middle;
	}
}

.banner {                                      /* this is a reusable div style - can be placed anywhere!*/
	background-color: #ebedde;
	text-align: center;
	padding: 35px 15px;
}


footer {
	text-align: center;
	padding: 20px;
}

/*CONTENT*/
/*================================*/


.side {
	padding: 20px;
	float: left;
	width: 40%;
}

.main {
	width: 60%;
}
.side:last-child {
	float: right;
		/*display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
		

		.col{
			padding: 10px;
		    /*width: 300px;*/
			/*max-height: 200px;*/
/*		    margin: 20px 0;
		    background-color: white;
		    text-align: center;*/
		    /*img {
		    	min-width: 100%;
		    	min-height: 100%;
		    }*/
		/*}*/
}


/* IMAGES */
/*==========================*/

img {
	margin: 20px 0;
}

.main-img {
	width: 100%;
/*	margin-bottom: 20px;*/
}



/* CLEARFIX */
/*===============================*/

.group::after {
	content: " ";
	display: table;
	clear: both;
}

/* MEDIA QUERIES */
/*===============================*/


@media (max-width: 768px) {

	header .top-logo, header nav, header nav li, .side  {
		width: initial;
		margin: initial;
		display: block;
		height: initial;
		float: initial;
	}

	header .top-logo img{
		width: 100%;
	}

	header nav {
		padding-left: initial;
	}
	
	header nav li {
		margin-top: 15px;
	}
	.banner {
		display: none;
	}

}





/*header .top-logo, header nav {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
*/




#F5934A






