
/* RESET */ 
/*==========================*/
@import '_partials/_normalize';




/* ELEMENT COLORS
================================ */

/*YELLOW*/
	/*	background-color: #EDBC00;*/
/*BLACK*/
	/*#353535*/
/*RED*/
	/*#930700*/

.side{ 
	background-color: #ddd; 
	/*#4D84A2; */
}

footer {
	border-top: 3px solid #EDBC00;
}
footer, nav li{ 
	background-color: #930700; 
	color: white;
	

	a {
		color: white;
	}
}


.banner {
		background-color: #930700;
		color: white;
}

.col{
	background-color: #fff;
}

/*PAGE STYLES*/
/*===========================*/
* {
  margin: 0;
  box-sizing: border-box;
}

html {
	/*background color*/
}

body{
/*	font: normal 1.1em/1.5 sans-serif;*/
/*	background-color: #efefef;*/
}

html, body, .page-wrap, .side {    
	min-height: 100%;    /* calculated based on the height of the parent element*/
} 

/*.page-wrap {      
	margin: auto;
	width: 90%;
}*/


/* Header, Banner and Footer Layout
================================ */

header{
	padding: 15px;
	width: 100%;
}

.top-logo {
	margin-top: 0; 
	margin-bottom: 0;
	
	img {
		width: 100%;
	}
}

nav li {
	margin-top: 15px;
	border-radius: 5px;
	border-bottom: 3px solid #EDBC00;
}

.top-logo a, nav a {
	padding: 10px 20px;
	text-align: center;
	display: block;

}

footer {
	text-align: center;
	padding: 20px;
}

/* Column Layouts and Flex 
================================ */
.main {
	color:  white;
	/*background-color: #353535;*/
	border-bottom: 3px solid #EDBC00;
	border-top: 3px solid #EDBC00;
	position: relative;
	overflow: hidden;
	background-color: rgba(0,0,0,1.2);


	&:after{
	    content: ' ';
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	    opacity: 0.4;
	    background-image: url('../images/Construction.jpeg');
	    background-repeat: no-repeat;
	    background-position: 50% 0;
	    -ms-background-size: cover;
	    -o-background-size: cover;
	    -moz-background-size: cover;
	    -webkit-background-size: cover;
	    background-size: cover;   
	}

	.article{
		background-color: rgba(0,0,0,.5);
		padding: 10px;
		position: relative;
		z-index: 3;
		max-width: 100%;
	
		p {
			margin-bottom: 15px;
			line-height: 140%;
			color: white;
		}

		h3{
			color: #EDBC00;
		}
	}

	img {
		position: relative;
		z-index: 3
	}
}


.aside {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-flex-direction: column;
	flex-direction: column;
/*	-webkit-align-items: stretch;   
  	align-items:stretch;*/

	.col {
		/*padding: 10px;*/
		display: -webkit-flex;
		display: flex;
/*		-webkit-align-items: stretch;
		align-items: stretch;*/
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		border-radius: 5px;
		margin-bottom: 10px;
		min-height: 30%;
		
		h2{
			text-align: center;
			background-color: 	#353535;
			color: white;
			padding:10px 20px;
			border-bottom-right-radius:5px;
			border-bottom-left-radius:5px;

			.arrow {
				float: right;

			}
		}
		/*border: 1px solid;*/
		a{
			display: inline-block;
			width: 100%;
			padding: 10px;
			text-align: center;
		}
		img {
			height: 150px;
		}

	}
}

.side {
	padding: 20px;
}

.banner {
	display: none;
}

/* Imagery Layout
================================ */

.main-img {
	width: 100%;         /* <------   makes image fluid*/
	margin-bottom: 20px;
}


/* Media Queries
     *** USE MIN WIDTH INSTEAD OF MAX FOR MOBILE FIRST
================================ */


/*@media 490 - fix nav bar
*/


@media (min-width: 769px) {

	/* Header, Banner and Footer Layout
	================================ */

	header {
		display: table;
		min-height: 125px;
		padding: initial;
		
		.top-logo, nav, nav li {
			display: inline-block;
			border-radius: 5px;
		}

	.top-logo img{
		margin-right: 30px;
		width: 400px;
		margin-top: 0px;
		margin-bottom: 0px;

		
	}

	nav li {
		margin-right: 10px;
		white-space: nowrap;

	}

	.top-logo a, nav a {
		padding: 10px 20px;
		text-align: center;
		display: block;

	}

		.top-logo, nav {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.banner {                                   
		
			text-align: center;
			padding: 35px 15px;
			display: block;
		}


	footer {
		text-align: left;
		padding: 20px;
	}

	/* Column Layout
	================================ */


	.side {
		padding: 20px;
		float: left;
		width: 40%;

	}

	.main {
		width: 60%;
		border-bottom: none;
	}
	.side:last-child {
		float: right;
		border-top: 3px solid #EDBC00;
	}



	/* CLEARFIX */
	/*===============================*/

	.group::after {
		content: " ";
		display: table;
		clear: both;
	}
		
	.content {
		display: -webkit-flex;
		display: flex;
	}


}



