* {
  margin: 0;
  box-sizing: border-box;
}
html, body {
	width: 100%;
  height: 100%;
}
/*#0471BB*/

body {
	margin: 0 auto;
	padding: 0;
	font-family: "myriad-pro", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.top-logo {
	max-width: 100%;
		img {		/*width: 100%;*/
			max-width: 100%;
			position: relative;
		}
}
header {
	text-align: center;
	border-bottom: 1px solid #ddd;
	background-color: white;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration:  none;
	color: white;
	&:hover{
		text-decoration: underline;
	}
}
nav ul ul.nav-sub {   
	display: none; 
	text-align: left;
		a {
			text-decoration: none;

		}
	}

nav ul li:hover ul.nav-sub {   
	display: block; 
}
nav ul { 
	display: inline-block; 
	margin: 0 auto; 

	} 
nav ul li {   
	float: left; 
	margin: 0 20px;
	} 
nav ul ul.nav-sub li {   
	float: none;
	padding: 0px;
	margin: 0;
	}
ul.nav-sub{   

	position: absolute;
	padding: 0;
	background-color: #930700;
	
	}

nav{
	background-color: #930700;
	height: 30px;
	padding: 6px;
}

.main {
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
		
		.col{
			padding: 10px;
		    width: 300px;
		   /* min-height: 200px;*/
		    margin: 20px 0;
		    background-color: white;
		    text-align: center;
		    /*img {
		    	min-width: 100%;
		    	min-height: 100%;
		    }*/
		}
}

/*
//sticky footer*/
.page-wrap {
  min-height: 100%;
  margin-bottom: -142px; 
  background-color: #eee;
}
.page-wrap:after {
  content: "";
  display: block;
}
.sticky-footer, .page-wrap:after {
  height: 142px; 
}
.sticky-footer {
  background-color: #930700;
  color: white;
  padding: 30px;
  address {
  	color: white;
  } 
}

.content{
	margin: 5%;
	/*background-color: #ccc;*/

}


.is-mobile { 
	display: block;
	text-align: left;	
	color: white;
} 
nav ul.nav-main { 
	display: none; 
}
@media (min-width: 420px){   
	.is-mobile { display: none; 
	}   
	nav ul.nav-main {     
		display: inline-block;   
		} 
	}
