
/* RESET */ 
/*==========================*/
@import '_partials/_normalize';
@import '_partials/_variables';



/*GLOBAL STYLES*/
/*===========================*/
* {
  margin: 0;
  box-sizing: border-box;
}


html, body, .page-wrap {    /* .side */
	min-height: 100%;    /* calculated based on the height of the parent element*/
} 

.page-wrap{
	// background: rgba(15,15,15,0.74);
}
///typography

body{

	font-size: 17px;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-style: normal;
	font-weight: normal;
}


// h1, h2, h3 {
//   font-family: "double-pica-sc", Garamond, "Baskerville Old Face", "Times New Roman", serif;
// }

h1 {
  font-size: 3.3684em;
  line-height: 1.2656em;
  margin-top: 0.4219em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.2558em;
  margin: 0.4219em auto 0.4219em auto;
}

h3 {
  font-size: 1.5263em;
  font-weight: normal;
  line-height: 1.8621em;
  margin-top: 0.9310em;
  margin-bottom: 0;
}

p {
  font-size: 1em;
  line-height: 1.4211em;
  margin-top: 1.4211em;
  margin-bottom: 0;
}


.button {
	background-color: $grey-black;
	// text-align: center;
}

	.button a {
		color: rgb(226,226,226);
		text-decoration: none;
		font-style: normal;
		text-transform: uppercase;
		text-align: center;
		display: block;
		padding: 10px 0;

		&:hover{
			color: white;
			transition: .5s all;
			background-color: rgb(61,61,61);
		}
	}

a:link{

}

	a:hover{

	}

	a:visited{

	}

	a:active{

	}


//--------------------------////
//     HEADER BANNER FOOTER
//---------------------------///

header{

	width: 100%;
	// background-color: $grey-black;
	background-color: white;
}

.header-container {
	max-width: 1024px;
// padding: 0px 1%;
}

.top-logo {
	margin-top: 0; 
	margin-bottom: 0;
	text-align: center;
	z-index: 100;
	
	img {
		width: 270px;
		// position: absolute;
	}
}

footer {
	text-align: center;

	color: white;
	padding: 10px;
	// color: #353535;
	background-color: $grey-black;
	// background-color: $dark-red;
	
	// border-top: 3px solid $mustard-yellow;
	
	a {
		color: white;
		// text-decoration: underline;
	}

	p {
		margin: 0px;
		
	}
}



//--------------------------////
//     NAV AND LOGO
//---------------------------///
.main-navigation {
	background-color: $grey-black;

	li {
		list-style: none;
		text-align: center;
		display: none;
		// margin: 20px 0;
	}

	a {
		padding: 15px 10px;
		color:  white;
		border-bottom: 2px solid white;	
		text-decoration: none;
		text-transform: uppercase;

	}

		a:hover{
			color: white;
			transition: .5s all;
			background-color: rgb(62,61,61);
		}
}

.top-logo a, nav a { 
	display: block;

}

 
.mobile-menu {

	background-color: $grey-black;
	color: white;
	padding: 0 15px;

	.is-mobile {
		float: right;
		margin: 6px 0;
		font-size: 1.5em;
	}

	&:after{
		content: " ";
		display: table;
		clear: both;
	}
}



//--------------------------////
//    HOME PAGE
//---------------------------///


	///BIG PICTURE HEADING///

.show-me  {
	// background-color:  rgba(0,0,0,0);
	// border: 3px solid white;
	// padding: 10px 20px;
	// font-size: 1.55em;
	// display: inline-block;
	// color: white;
	// margin-top: 20px;
	// margin-bottom: 20px;

}

.photo {
/*overflow: auto;*/
  width: auto;
  height: 50%;
min-height: 50%;
  // min-height: 100%;
  background-size: cover;

}
 .darken {
 	display: table;
	position: relative;
	// min-height: 60%;
  	/*top: 30%;*/

  color: white;
  text-align: center;
 	// min-height: 90%;
 	// max-height: 90%;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.1)
    ),
    url(http://quarryquest.com/wp-content/themes/fluid/images/QQBkgrnd.jpg);
}

.banner {
	height: 100%;
	min-height: 100%;
	display: table-cell;
	vertical-align: middle;
	padding: 6%;
	overflow: auto;
}

//text inside the banner
.content {
  	position: relative;

    p {
		
		display: inline-block;
		width: 60%;
	}
}



.thumb-container {
	display: none;
	width: 100%;
	overflow: auto;

	img {
	width: 100%;
	// height: auto;
	}
}


@media (min-width: 769px) { 
	.thumb-container {
		display: block;
	}
}

   //////FEATURED ARTICLES//


.featured-info{

	color: white;
	// width: 100%;
	background-color: $dark-red;

	.articles {

		overflow: auto;
		padding: 0 10px;
		margin: 0 auto;
		max-width: 1024px;

		.article {
			padding: 30px;
			text-align: left;
		}
	}

	h3,h2 {
		border-bottom: 1px solid white;
	}
}



//------------------------------////
//   	 ABOUT US PAGE
//-------------------------------///



.about-container {
	max-width: 1024px;
	margin: 0 auto;
	min-height: 100%;
	padding: 30px;
}

.slide-container {
  // max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.slide-container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
  height: auto;
}
.slide-container img {
  	width: 100%;
    margin: 0 auto;
    height: auto;
   /* margin-bottom: 20px;*/
}

.sidebar {
	background-color: #ccc;
	overflow: auto;
	// height: 100%;
	p {
		display: none;
	}

}

 .about {
 	width: 100%;
 	display: table;
	position: relative;
  	color: white;
 	text-align: center;
    background-position: 50%;
  	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://upload.wikimedia.org/wikipedia/commons/3/33/FEMA_-_40363_-_Construction_crews_work_a_pile_of_dirt_in_Fargo%2C_North_Dakota.jpg);
}

@media (min-width: 769px) { 

	.about-us {
		display: table;
		width: 100%;
		.article {
			float: none;
			width: 100%;
		}
	}

	.sidebar {
		float: left;
		width: 25%;
		height: 100%;
		display: table-cell;
		.article {
			float: none;
	}
}


	/////// ------/*SLIDESHOW*    //////// ------


		.slideshow {
			background-color: pink;
			// float: right;
			overflow: auto;
			width: 50%;

		}

		// .slide-container img {
		// 	width: auto;
		//    	height: 450px;
		//     margin: 0 auto;
		//     overflow: hidden;
		//    /* margin-bottom: 20px;*/
		// }

		// .quality {
		// 	float: right;
		// 	// display: table-cell;
		// 	// background-color: $dark-red;
		// 	width: 50%;
		// 	// background-color: blue;
		// }


}






























/* PRODUCTS PAGE */
/*===============================*/

.products {
/*width: 80%;*/
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
/*   -webkit-align-content: flex-end;
   align-content: flex-end;*/
	overflow: auto;
	min-height: 100%;
	margin: 0 auto;
	padding: 3% 10%;
/*	background-color: $grey-black;*/
	border-top: 3px solid $mustard-yellow;
}

.category {
	width:  100%;
	background-color: white;
/*	border: 1px solid black;*/
	text-align:  center;
	padding: 3%;
	margin: 5px;
	overflow: auto;
	height: 275px;

	img{
		/*width: 20%;*/
		max-width: 100%;
		height: 150px;
		margin-top: 15px;
	}
}







/* Media Queries
     *** USE MIN WIDTH INSTEAD OF MAX FOR MOBILE FIRST
================================ */


/*@media 490 - fix nav bar
*/


@media (min-width: 769px) {

	/* Header, Banner and Footer Layout
	================================ */

	body{
		// width: 90%;
		margin: 0 auto;
		
	}

	header {
		/*display: table;*/
		/*min-height: 125px;*/
		width: 100%;
		
		// background-color: $grey-black;
		background-color: white;
		
		// nav, nav li {
		// 	display: inline-block;

		// 	/*float: right;*/
		// 	/*border-radius: 5px;*/
		// }

	.main-navigation {
		background-color: white;
		width: 100%;
		a{
			padding: 12px 20px;
			color: $grey-black;
		}

		li {
			float: right;
			// background-color: $dark-red;
			display: block;
		}
	}


	nav li {
	/*	margin-right: 10px;*/
		white-space: nowrap;
		

	}

	.top-logo a, nav a {
		/*padding: 10px 20px;*/
		color: $dark-red;
		text-align: center;
		display: block;
		border: none;

	}

		.top-logo, nav {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
	}

	.header-container {
			max-width: 1024px;
			margin: 0 auto;
			
		}

	.mobile-menu {
		display: none;
	}


	footer {
		text-align: left;
		padding: 20px;
	}

	/* Column Layout
	================================ */
	// .aside {
	// 		// margin: 10px 0px;
	// }

	// .side {
	// 	/*padding: 20px;*/
	// 	float: left;
	// 	width: 40%;

	// }

	// .main {
	// 	width: 60%;
	// 	border-bottom: none;
	// 	// margin: 10px 10px 10px 0px;
	// }
	// // .side:last-child {
	// // 	float: right;
	// // 	/*border-top: 3px solid $mustard-yellow;*/
	// // }



	/* CLEARFIX */
	/*===============================*/

	.group::after {
		content: " ";
		display: table;
		clear: both;
	}
		
	// .content {
	// 	display: -webkit-flex;
	// 	display: flex;
	// }

	.category {
	width: 30%;}













/////////
.header-container {
	padding: 0px 1%;
}

.content {
	/*display: inline-block;*/
	/*width: 50%;*/
  	position: relative;
  	min-height: 100%;
/*  top: 50%;
  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
    display: table-cell;
    vertical-align: middle;
}

	.thumbnail {
		float: left;
		width: 25%;
		height: auto;
	}


	.article {
		float: left;
		width: 33.33%;
		// padding: 10px;
		// text-align: left;
	}


}





















/*.icon {
    background: $mustard-yellow;
    position: absolute;
    margin-top: -4.3em;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 3.05em;
    z-index: 300;
    padding: 5.2px 5.2px 5.2px 5.2px;
    padding: 0.325rem 0.325rem 0.325rem 0.325rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;


    span {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    }
}*/


